
#header{
    background-color: rgba(229, 84, 115, 0.10);
    width: 100%;
    height: 555px;
    display: flex;
    row-gap: 20%;
}
.text1{
    color: #272727;
    font-family: Lato;
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 608px;
    padding-bottom: 25px;
}
.text2{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    width: 545px;
    padding-bottom: 25px;
    
}
button{
    color: #FFF;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}
.grid{
    margin: 6%;
    padding-left: 7%;
    
}
.pngwing{
    height: 555px;
    width: 440px;
    display: grid;
    padding-right: 7%;
    padding-top: 5%;
    position: relative;
}
.card{
    justify-content: center;
    
}
.feature{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 70px;
    justify-content: center;
    
}
.text3{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px; /* 166.667% */
    justify-content: center;
    
}
.flex{
    display: flex;
    flex-direction: row;
    gap: 1.4%;
    position: relative;
    justify-content: center;
    padding-top: 3%;
}
.card1{
    width: 230px;
    height: 280px;
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
}
#pngwing6{
    width: 200px;
    height: 280px;
    padding: 30% 15% 0% 15%;
    
}
.card2{
    width: 230px;
    height: 280px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
#pngwing5{
    width: 270px;
    height: 270px;
    padding: 18% 10% 10% 15%;
}
.card3{
    width: 230px;
    height: 280px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
#pngwing7{
    width: 200px;
    height: 280px;
    padding: 25% 15% 0% 15%;
}
.flexlink{
    display: flex;
    flex-direction: row;
    gap: 10%;
    position: relative;
    justify-content: center;
    padding-top: .1%;
    color: #272727;
    
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px; /* 145.833% */
    text-decoration-line: underline;
}
/* 
 */
#form{
    position: relative;
    justify-content: center;
}
.formpic{
    width: 735px;
    height: 260px;
    justify-content: center;
    margin-left: 26%;
    padding-top: 2%;
}
.deal{
    color: #272727;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    position: absolute;
    top: 30%;
    left: 45%;
}
#cupon{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    position: absolute;
    bottom: 52%;
    left: 47%;
}
.email{
    position: absolute;
    bottom: 30%;
    left: 37%;
    width: 300px;
    border-radius: 6px;
    background: #FFF;
    display: flex;
    gap: 1%;
    height: 35px;
}
#placeholder{
    color: rgba(39, 39, 39, 0.60);
    /* text-align: center; */
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    bottom: 7%;
    padding: 5px;
}
.subscribe{
    position: absolute;
    left: 58%;
    bottom: 30%;
}